.biosLeft {
  width: 40%;

  .title {
    font-weight: 600;
    border-right: 1px #eae7e7 solid;
    padding: 20px 20px 0 5px;
  }
  .infoList {
    padding-left: 0;
    width: 59%;
    border-right: 1px #eae7e7 solid;
    margin-bottom: 0;
    .item {
      list-style-type: none;
      padding: 25px;
      text-align: center;
    }
    .item:nth-child(1) {
      border-bottom: 1px #eae7e7 solid;
    }
    .item:nth-child(2) {
      padding-top: 5px;
    }
  }
}
.biosRight {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
