.rosterCard {
  width: 100%;
  display: grid !important;
  grid-template-columns: 30% 1fr;
  padding: 20px 20px 0 40px;

  .rosterDescription {
    display: flex;
    flex-direction: column;
    .descInfo {
      margin-bottom: 0;
      .title {
        font-weight: 700;
      }
    }
    .active {
      background: green;
      width: 50px;
      border-radius: 45px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      margin-top: 5px;
    }
    .name {
      font-size: 50px;
      font-weight: 700;
    }
  }
  .rosterPic {
    width: 350px;
    height: 350px;
  }
}
