#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}
.hero {
  background-attachment: fixed;
}

.section {
  border-radius: 0;
}

.music-player {
  position: fixed;
  z-index: 999;
  bottom: 0;
}
